:root{
    --accent-color: #F13C6E;
    --secondary-color:#3D3D3D;
    --main-color: rgb(255, 255, 255);
    --bg-secondary-color: #EFEFEF;

    --font-xs:12px;
    --font-sm:14px;
    --font-md:16px;
    --font-lg:18px;
    --font-2xl:24px;
    --font-5xl:48px;
    --content-width:1660px;
}
body{
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-sm);
    background-color:var(--bg-secondary-color) ;


}

.container{
    max-width: var(--content-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;}

    /*header*/

.header__content{
    width: 360px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;

}
.header__content nav ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;


}
a{
    color: var(--secondary-color);
}
.contact{
    color: var(--main-color);
    width: var(--content-width);
    height: 120px;
    margin: 0 auto;
    border-bottom: solid gray 1px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.contact__phone{
    font-size:var(--font-md) ;
}

button {
    width: 170px;
    height: 40px;
    border-radius: 40px;
    font-size: var(--font-sm);
    border: 2px solid var(--accent-color);
    cursor: pointer;

    background: var(--main-color);
    text-align: center;
    background: none;
}
.tel{
    margin: 0  40px 0 0;

}
/*menu*/
.menu{
    background-color: var(--main-color);
    max-width: var(--content-width);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;

}

.menu__nav nav ul{
    width: 600px;
    height: 80px;
    font-size:var(--font-md) ;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: white;

}

/*banner*/
strong{
    font-size: var(--font-5xl);
    height: 600px;
    font-weight: 700;
}
.banner__description{
    width: 260px;
    height: 220px;
    flex-direction:column;
    display: inline-flex;
    position: absolute;
    bottom: 192px;
    left: 270px;
    color: var( --main-color);
    justify-content: space-between;

}
span{
    line-height: 20px;
}
.btn{
    width: 170px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    border: 2px solid var(--main-color);
    cursor: pointer;
    display: grid;
    letter-spacing:2px;
}
.banner__content{
    position: relative;
    max-width: var(--content-width);
    height: auto;
}
/*catalog*/

.catalog__content{
    width: 1110px;
    height: 430px;
    display: grid;
    margin:  80px 0 0;


}
.catalog__title{
    font-size: var(--font-2xl);
    font-weight: 700;


}
.catalog__description{
    display: flex;
    gap: 30px;}

.catalog__product{
    width: 255px;
    height: 363px;
    background: var(--main-color);
    text-align: center;
    justify-content: space-between;

}
.catalog__product :after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 15px;
    visibility: hidden;}

.catalog__product-name{
    width: 195px;
    height: 33px;
    display: inline-block;
    text-align: center;
}
.catalog__product-price{
    font-size: var(--font-2xl);
    font-weight: 500;
}
.button{
    width: 130px;
    height:35px;
    color:var(--main-color);
    border-style:solid;
    border-width:0 25px;
    background-color:var(--accent-color);
    border-color:var(--accent-color);
    cursor:pointer;
    border-radius: 30px;
}
/*offer*/
.offer__content{
    width: 1110px;
    height: 212px;
    display: flex;
    gap: 30px;
    margin:  80px 0 0;

}

.offer__present{
    width: 540px;
    height: 212px;
    background-color:var(--accent-color);
    color:var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 225px;
    height: 35px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #C4C4C4;
    text-align: center;
}
.offer__description-title {
    font-size: var(--font-lg);
    font-weight: 700;
}
.offer__description-text{
    width: 129px;
    height: 40px;
}
.offer__description{
    grid-gap: 20px;
    justify-content: space-between;
    display: grid;
    margin-right: 70px;
}
.offer__img{
    width: 190px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer__stores{
    width: 540px;
    height: 212px;
    background-color: var(--accent-color);
    color:var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


.map{
    width: 170px;
    height: 35px;
    border-radius: 30px;
    border: 2px solid var(--main-color);

    color: var(--main-color);
    background-color:var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;

}
/*box
*/
.box__content{
    width: 1110px;
    height: 358px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--main-color);
    border: 1px solid whitesmoke;
    margin:  80px 0 0;

}
.box__img{
    width: 273px;
    height: 120px;
    border: 1px solid  whitesmoke;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
    display: grid;
}

/*footer*/
.categories{
    background-color: var(--main-color);
    margin:  80px 0 0;
}
.categories__content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 370px;
    gap: 30px;

}
.categories__price{
    width: 255px;
    height: 253px;
    border: 1px #EFEFEF;

}
.categories__price-title{
    font-size: var( --font-md);
    font-weight: 500;
    width: 99px;
    height: 40px;

}
.categories__price-list{
    font-size: var(--font-xs);
    line-height: 28px;
    color:#828282;


}
.solid{
    border-bottom: solid 1px var(--bg-secondary-color) ;
}
/*social*/
.social{
    background-color: var(--main-color);
}
.social__content{
    width: 1110px;
    height: 95px;
    display: flex;
    justify-content: space-between;

}

.social__logo-icon{
    width: 45px;
    height: 45px;
    border-radius:30px;
    border: 2px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__logo{
    display: flex;
    gap: 20px;
    width: 190px;
    align-items: center;
    justify-content: center;
}
.contact__phone{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*meta*/

.meta__license{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    gap:635px;
    font-size:var(--font-xs) ;}









